@charset "UTF-8";

.bg-gray{background: #f5f5f5;}
		
.navbar-brand>img{width:100px;height:70px;}
.carousel-item>img{}

.navbar{padding:0;}
.container{position: relative;}
#tmenu{position: absolute;right:0;bottom:0;}


.footer{background: #0d121b;text-align:center;padding:10px 50px 10px 50px;color:#555d6d;}
#f_img>{}